.service-section {
  .service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f8ff;
    padding: 1rem;

    .service-heading {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;

      .service-subtitle {
        text-transform: uppercase;
        color: #3d4f9f;
        font-weight: bold;
        font-size: 0.8rem;
      }
      .service-about {
        font-size: 2rem;
        color: #3d4f9f;
      }
    }
  }

  .service-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
}
