.service-section {
 

  .service-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
}
