@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (max-width: 48em) {
      @content;
    }
  }
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    max-width: 905px;
    width: 100%;
    margin: 2rem;

    .title {
      font-size: 1.5rem;
      color: #5889d6;
    }
    .line {
      border: 1px solid #5889d6;
      width: 20%;
      margin-top: 0.4rem;
    }

    .contact-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      @include breakpoint(md) {
        flex-direction: column;
        max-width: 400px;
        width: 100%;
      }

      .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 560px;
        width: 100%;
        margin-top: 3rem;
        h1 {
          font-size: 1rem;
          margin-left: 1rem;
          font-weight: 400;
          color: #697ca6;
        }

        .form {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          padding: 1rem;

          input[type="text"],
          input[type="email"],
          textarea {
            padding: 0.8rem 2.2rem;
            border-radius: 4px;
            resize: none;
            border: none;
            outline-style: dashed;
            outline-color: #e1e5ec;
            outline-width: 1px;

            &:focus {
              border: none;
              outline-style: dashed;
              outline-color:#407bff;
              outline-width: 2px;
            }

            &::placeholder {
              color: rgba(135, 135, 135, 1);
              text-indent: -1px;
              font-size: 1rem;
              font-weight: lighter;
            }
          }

          textarea {
            height: 149px;
            max-height: 150px;
            width: 100%;
          }
          button {
            padding: 0.6rem 2rem;
            font-size: 1.2rem;
            background-color: #407bff;
            color: #ffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
              background-color: #fff;
              border: 1px solid #407bff;
              color: #407bff;
            }
          }
        }
      }

      .contact-connect {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* margin-top: 4rem; */
        max-height: 290px;
        height: 100%;
        margin-bottom: 1.4rem;

        @include breakpoint(md) {
          width: 100%;
          padding: 0.4rem;
          flex-direction: column;
        }

        .contact {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          cursor: pointer;
          font-weight: lighter;

          p {
            flex-wrap: wrap;
          }

          a{
            text-decoration: none;
            color: hsla(242,88.4%,56.3%,1);

           
          }
        }
      }
    }
  }
}
