@mixin breakpoint($point) {
    @if $point == md {
      // 768px
      @media (max-width: 48em) {
        @content;
      }
    }
  }
  

.footer{
    width: 100%;
    background-color: #ffff;
    padding: 2rem;
    display: flex;
    flex-direction: column;


    .container{
        display: flex;
        justify-content: space-between;
        padding: 0rem 1rem;

        .logo{
          max-width: 100px;
            width: 20%;
            height: 13%;
        }

        .links {
            display: flex;
            gap: 2rem;
            flex-direction: row;
            

            @include breakpoint(md){
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1rem;
                justify-items: center;
                margin-top: 0rem;
            }
          }
          
          .group {
            display: flex;
            justify-content: center;

            @include breakpoint(md){
                display: flex;
                justify-content: center;
            }
          }
          
          .group ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            gap: 2rem;

            @include breakpoint(md){
                display: flex;
            flex-direction: column;
            gap: 0rem;

            }
          }
          
          .group li {
            margin-bottom: 0.5rem;
          }

          li a {
            list-style: none;
            color: #ADB4D2;
            font-size: 0.9rem;
            cursor: pointer;
            text-decoration: none;
        }

           a:hover{
            color: #567AFF;
            transition: 0.4s ease;
         }
          
    }
    
.line{
    border: 0.2px solid white;
    box-shadow: 5px 10px rgb(209, 209, 209);
    width: 100%;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: #ADB4D2;
    cursor: pointer;
}
.right:hover{
    color: #567AFF;
    transition: 0.4s ease;
}
    

}