.interested-section{
    background-color: rgba(94, 128, 255, 1);
    width: 100%;


    .cloud{
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        .heading{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffff;
            gap: 1rem;
            margin-right: -4rem ;

            .title{
                font-size: 0.7rem;
                text-transform: uppercase;
                font-weight: bold;
                word-spacing: 0.2rem;
                letter-spacing: 1px;

            }
            .about-title{
                font-size: 2.8rem;
                font-weight: lighter;
            }

            .about-desc{
                font-weight: lighter;
                word-spacing: 0.2rem;
                text-align: center;
                line-height: 1.5rem;
                

            }

            .btn{
                margin-top: 1rem;
                display: flex;
          
                .service-btn{
                  background-color: #ffff;
                  color: #3A79FF;
                  border-radius: 0;
                  margin-top: 1rem;
                  padding: 0.7rem 2rem;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 text-align: center;
                  border: none;
                  cursor: pointer;
          
                }
                .connect-btn{
                  background: transparent;
                  color: #B4BBD4;
                  border: 2px solid #ADB4D2;
                  box-shadow: 1rem;
                  border-radius: 0;
                  margin-top: 1rem;
                  padding: 0.7rem 2rem;
                  
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 text-align: center;
                  border: 1px solid #ffff;
                  cursor: pointer;
          
                }
              }
        }
    }
   

}
