.review-card{
    max-width: 423px;
    width: 100%;
    background-color: #ffff;
    padding: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .review-content{
        font-size: 0.8rem;
        text-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width:80% ;
        line-height: 1.3rem;
        word-spacing: 0.2rem;
        color: #676F95;
   

       
    }

    .img-profile{
        position: absolute;
        top: 80%;
    
    }
}

