@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (max-width: 48em) {
      @content;
    }
  }
}

.slide-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  @include breakpoint(md) {
    flex-direction: column;
    gap: 1rem;
  }

  .slide-img {
    @include breakpoint(md) {
      max-width: 221px;
      height: auto;
    }
  }

  .contain {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    @include breakpoint(md){
      justify-content: center;
    align-items: center;

    }

    .title {
      font-size: 2.2rem;
      color: #3d4f9f;
      word-spacing: 0.2rem;
      font-weight: lighter;
      text-align: start;
      max-width: 370px;
      width: 100%;

      @include breakpoint(md) {
        font-size: 1.5rem;
        text-align: center;
      }
    }
    .desc {
      color: #8d96bd;
      font-weight: lighter;
      font-size: 0.9rem;
      text-align: start;
      word-spacing: 0.2rem;
      max-width: 370px;
      width: 100%;
      line-height: 1.5rem;

      @include breakpoint(md) {
        font-size: 0.6rem;
        word-spacing: 0rem;
        line-height: 1rem;
        text-align: center;
      }
    }
    .btn-more {
      margin-top: 1rem;
      max-width: 100px;
      width: 100%;
      background-color: #d2e1ff;
      color: #3a79ff;
      padding: 0.7rem;
      border: none;
      font-weight: bold;
      cursor: pointer;

      @include breakpoint(md) {
        margin-top: 0rem;
      }
    }
  }
}
